# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt project
*.pro
*.pro.user
*.ui.autosave
/build-ontoloGUI-Desktop-Debug
/build-ontoloGUI-Desktop-Release

# Ontologenius build files
*.ont

# Ontologenius intern files
/file_intern/*

*.pyc
catalog-v*

# VsCode files
settings.json
launch.json

# CMake
*.cmake
*.bin
build/