<launch>
  <arg name="language" default="en"/>
  <arg name="intern_file" default="none"/>
  <arg name="files" default="
  $(find ontologenius)/files/attribute.owl
  $(find ontologenius)/files/measure.owl
  $(find ontologenius)/files/property.owl
  $(find ontologenius)/files/positionProperty.owl
  $(find ontologenius)/files/testIndividuals.owl
  "/>

  <node name="ontologenius_core" pkg="ontologenius" type="ontologenius_single" output="screen" args="-l $(arg language) -i $(arg intern_file) $(arg files)" launch-prefix="valgrind"> </node>
  <!-- valgrind -v - -leak-check=full - -track-origins=yes -->
</launch>
