<launch>
  <arg name="language" default="en"/>
  <arg name="intern_file" default="none"/>
  <arg name="config_file" default="/home/gsarthou/Robots/Pr2/Dacobot/catkin_ws/src/referring_expression_generation/resources/conf/no_generalization.yaml"/>
  <arg name="display" default="false"/>
  <arg name="files" default="
    /home/gsarthou/Robots/Pr2/Dacobot/catkin_ws/src/referring_expression_generation/resources/ontology/tests/linkdmdb/linkdmdb_upper.owl
    /home/gsarthou/Robots/Pr2/Dacobot/catkin_ws/src/referring_expression_generation/resources/ontology/tests/linkdmdb/linkdmdb.ttl
    /home/gsarthou/Robots/Pr2/Dacobot/catkin_ws/src/referring_expression_generation/resources/ontology/tests/linkdmdb/foaf.owl
  "/>
  <arg name="tcmalloc_path" default=""/>

  <env name="LD_PRELOAD" value="$(arg tcmalloc_path)"/>

  <node name="ontologenius_core" pkg="ontologenius" type="ontologenius_single" output="screen" args="-l $(arg language) -c $(arg config_file) -i $(arg intern_file) -d $(arg display) $(arg files)"> </node>
  <node name="ontologenius_gui" pkg="ontologenius" type="ontoloGUI" output="screen"> </node>
</launch>
