<launch>
  <arg name="language" default="en"/>
  <arg name="intern_file" default="$(find ontologenius)/file_intern/ontologenius.owl"/>
  <arg name="config_file" default="none"/>
  <arg name="display" default="true"/>
  <arg name="files" default="
  $(find ontologenius)/files/attribute.owl
  $(find ontologenius)/files/measure.owl
  $(find ontologenius)/files/property.owl
  $(find ontologenius)/files/positionProperty.owl
  $(find ontologenius)/files/testIndividuals.owl
  "/>
  <arg name="tcmalloc_path" default=""/>

  <env name="LD_PRELOAD" value="$(arg tcmalloc_path)"/>

  <node name="ontologenius_core" pkg="ontologenius" type="ontologenius_single" output="screen" args="-l $(arg language) -c $(arg config_file) -i $(arg intern_file) -d $(arg display) $(arg files)"> </node>
</launch>
